<div>

  <h3>Aqui los detalles de un libro</h3>

  {{!-- {{this.bookDetails}} --}}
  <div>
    <h5>{{bookDetails.title}}</h5>
    <p>Descripción: {{bookDetails.description}}</p>
    {{!-- <p>Autor: {{bookDetails.author}}</p> --}}
    {{!-- <p>Author: {{bookDetails.author.name}} de {{bookDetails.author.country}} nacido en {{bookDetails.author.yearBorn}}</p> --}}

    {{#each bookDetails.author}}

      <p>Author: {{this.name}} de {{this.country}} nacido en {{this.yearBorn}}</p>

    {{/each}}


  </div>

  <a href="/book/{{bookDetails._id}}/edit">
    <button>Ir a Actualizar</button>
  </a>
  
  <form action="/book/{{bookDetails._id}}/delete" method="post">
    <button>Borrar</button>
  </form>

</div>